@using Microsoft.AspNetCore.Identity
@using Kuwadro.Models
@using Kuwadro.Areas.Identity.Pages.Account
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kuwadro</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/profile-design.css">

    <link href='https://fonts.googleapis.com/css?family=Saira Semi Condensed' rel='stylesheet'>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <header>
        <div class="navbar-xxx">
            <div class="navbar-container">
                <div class="logo-container">
                    <h1 class="logo">Kuwadro</h1>
                </div>
                <div class="menu-container">
                    <ul class="menu-list">
                        <li class="menu-item home">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="menu-item new">
                            <a asp-area="" asp-controller="Home" asp-action="Browse">What's New</a>
                        </li>
                        <li class="menu-item post">
                            <a asp-area="" asp-controller="Profile" asp-action="UploadArt">Post your work</a>
                        </li>
                        <li class="menu-item ">
                            <form asp-controller="Home" asp-action="Search">
                                <input type="text" name="q">
                                <button type="submit">Search</button>
                            </form>
                        </li>


                    </ul>
                </div>
                <div class="profile-container">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var currentUser = await UserManager.GetUserAsync(User);
                        if (currentUser.ProfilePicture != null)
                        {
                            <img class="profile-pic" src="~/pfp/profilePic/@currentUser.ProfilePicture" alt="">
                        }
                        else
                        {
                            <img class="profile-pic" src="~/pfp/profilePic/default pfp.png" alt="">
                        }
                    }
                    else
                    {
                        <img class="profile-pic" src="~/pfp/profilePic/default pfp.png" alt="">
                    }

                <div class="profile-text">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var currentUser = await UserManager.GetUserAsync(User);
                        
                        <div class="dropdown">
                            <span class="prof-txt">@(currentUser.UserName)</span>
                            <div class="dropdown-content">
                                <a asp-controller="Profile"  asp-route-id="@currentUser.UserName">Profile</a>

                                <a asp-controller="Profile" asp-action="UploadProfile" asp-route-id="@currentUser.UserName">Edit Profile</a>
                                <a onclick="location.href='@Url.Action("Logout", "Home")'">Logout</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <button class="sign-up" onclick="location.href='Identity/Account/Register'">Sign-Up</button>
                    }

                    </div>
                    <div class="toggle">
                        <i class="fas fa-moon toggle-icon"></i>
                        <i class="fas fa-sun toggle-icon"></i>
                        <div class="toggle-ball"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <script src="~/js/style.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
