@model Kuwadro.Models.Art

@{
    ViewData["Title"] = "Artwork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<div>

</div>
<div class="container-xxx">
    <div class="indiv-art">
        <div class="art-info">
            <div class="imgBox">
                <img src="~/img/ArtWorks/@(Model.Image)" class="posted-art">
            </div>
            <div class="art-desc">
                <h2 class="title">@(Model.Title)</h2>
                <h3 class="author">By <a href="@Url.ActionLink("Index", "Profile", new { id = Model.User.UserName })"> @(Model.User.UserName)</a></h3>

                <div class="tags">
                    <span class="badge rounded-pill bg-primary">@Model.Genre</span>
                </div>
                <div class="desc">
                    <p>
                        @(Model.Description)
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="art-list-container">
        <h1 class="art-list-title">More from Artist</h1>
        <a href="@Url.ActionLink("Index", "Profile", new { id = Model.User.UserName })" class="btn-profile-view">View More</a>
        <div class="art-list-wrapper">

            <div class="art-list">
                <div class="art-list-item">
                    <img class="art-list-item-img" src="css/images/img-2.jpg" alt="">
                    <span class="art-list-item-title">This art</span>
                    <button class="art-list-item-btn">View More</button>
                </div>

            </div>

        </div>
    </div>
</div>
<script src="indiv.js"></script>