@model Kuwadro.Models.Profile
@using Microsoft.AspNetCore.Identity
@inject Kuwadro.Data.ApplicationDbContext _context
@{
    ViewData["Title"] = "Profile Page";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<head>
    <link rel="stylesheet" href="~/css/profile-design.css" />
    @*@{var thisUser = await UserManager.GetUserAsync(User);
        if (thisUser.Background != null)
        {
        <style>
            .profile {
                display: block;
                height: 50vh;
                padding: 50px;
                background: url('~/wwwroot/pfp/coverPic/thicc mage.gif');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: auto;
            }
        </style>
        }
        }*@
</head>
<body>
    <div class=container>
        @{var currentUser = await UserManager.GetUserAsync(User);

            <div class="profile">
                @if (currentUser != null)
                {
                    @if (currentUser.Background != null)
                    {
                        <img class="background-c" src="~/pfp/coverPic/@(currentUser.Background)">
                    }
                    else
                    {

                    }
                    <div class="profile-content">

                        @if (currentUser.ProfilePicture != null)
                        {
                            <img class="profile-picture" src="~/pfp/profilePic/@(currentUser.ProfilePicture)">
                            <div class="Prof-pic pictoverlay-blur">
                                <a asp-action="UploadProfile" class="imglink">Edit Profile</a>
                            </div>
                        }
                        else
                        {
                            <img class="profile-picture" src="~/pfp/profilePic/default pfp.png">
                            <div class="Prof-pic pictoverlay-blur">
                                <a asp-action="UploadProfile" class="imglink">Edit Profile</a>
                            </div>
                        }
                        <p class="profile-name">@(currentUser.UserName)</p>
                        @if (currentUser.Bio != null)
                        {
                            <p class="profile-about">@currentUser.Bio</p>
                        }
                        else
                        {
                            <p class="profile-about"></p>
                        }
                    </div>
                }
            </div>
        }

        <ul class="second-navbar-list">
            <li><a href="@Url.ActionLink("Index", "Profile" , new { id= currentUser.UserName })">Gallery</a></li>
            <li><a href="">Reviews</a></li>

            <li><a href="@Url.ActionLink("About", "Profile" , new { id= currentUser.UserName })">About</a></li>
            <li><a href="@Url.ActionLink("Commission", "Profile" , new { id= currentUser.UserName })">Commissions</a></li>
        </ul>
        <div class="Gallery">
            @foreach (var item in Model.ArtList.OrderBy(p => p.CreationDate).ToList())
            {
                <div class="Pictors">
                    <img src="~/img/ArtWorks/@(item.Image)" class="Viktor">
                    <div class="pictoverlay pictoverlay-blur">
                        <div class="imgtitle">@(item.Title)</div>
                        <p class="description">@(item.Description)</p>
                        <a href="@Url.ActionLink("Artwork", "Profile", new { id = @item.Id }) " class="Open"><p class="OpenB">Open Artwork</p></a>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="~/js/Profile.js">
    </script>

</body>
